<%- include('./partials/header') %>

    <h1>
        <%= title %>
    </h1>
    <p>
        <%= content %>
    </p>

    <form action="/delete" method="POST">
        <input type="hidden" name="postId" value="<%= showenPostId %>">
        <button type="submit" class="btn btn-danger btn-sm">Delete Post</button>
    </form>

    <%- include('./partials/footer') %>